@import url('https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@300;400;700&display=swap');

/*Comenzamos con buenas practicas😄*/
*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Poor Story', cursive;
    font-family: 'Roboto', sans-serif;
}




.navbar-nav {
gap: 2rem;
}


/*Termina el menu de navageacion */

/*El main del index */
.main_box {
    text-align: center;
    padding-top: 3rem
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;


}
footer {
    background-color: rgb(59, 59, 59);
    height: 100%;
    margin-top: 2rem;
    width: 100%;
    border: 1px solid blue;
    text-align: center;
}

.footer_nav_links,
li {
    color: rgb(236, 236, 236);
    list-style: none;
    text-decoration: none;
    font: bolder;
    text-align: start;
}

.footer_box {
    display: flex;
    justify-content: center;
    color: white;
    ;
}

a {
    text-decoration: none;
}

.footer_nav_links:hover {
    color: black;
    background-color: white;
}

.footer_container {
    width: 70%;
    height: 250px;
border-style: solid;
display: inline-block;
text-align: center;
align-items: center;
}
.cardlogo{
height: 30px;
border-style: solid; color: white;
background-color: white;
}
.footer_div_nav_text_uppercase {
    text-transform:uppercase;
    color: white;
    
}
.site-footer{
    background-color:#26272b;
    padding: 20px 0px 20px;
    font-size:15px;
    line-height:24px;
    color:#737373;
}
.iconbox {
    display: flex;
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}

.footer-links {
    margin-left: 10px;
}

.copyright-text
{
bottom:30px}

.social-icons{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li{
    display:inline-block;
    margin-bottom:4px
}
.iconbox img{
    height: 80px;
    padding: 1rem;
}
.elementfooter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 2rem;    
}



/* REGISTRO.HTML*/
.form-register{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #28427a;
    padding: 12px;
    background: #445170;
    border-radius: 6px;
}
.controls{
    height: 2.5rem;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
h4{
    font-size: 22px;
    margin-bottom: 10px;
    color: white;
}
