@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto:wght@300;400;700&display=swap");
/*Comenzamos con buenas practicas😄*/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header .navbar .navbar-nav {
  gap: 2rem;
}
header .navbar .navbar-nav li {
  color: rgb(236, 236, 236);
  list-style: none;
  text-decoration: none;
  font: bolder;
  text-align: start;
}
header .navbar .nav-item:nth-child(2) {
  transition: transform 0.3s ease-in-out;
}
header .navbar .nav-item:hover {
  transform: scale(1.2);
}

.main_box {
  text-align: center;
}
.main_box .card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

footer {
  background-color: rgb(59, 59, 59);
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
  color: rgb(194, 193, 193);
}
footer .site-footer {
  background-color: #26272b;
  font-size: 15px;
  line-height: 24px;
  height: auto;
  display: flex;
  flex-direction: column;
}
footer .site-footer .elementfooter1 h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
footer .site-footer .elementfooter1 .iconbox img {
  height: 80px;
  padding: 1rem;
}
footer .site-footer .elementfooter2 ul .footer-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  list-style: none;
}
footer .site-footer .elementfooter2 ul .footer-links a {
  color: #737373;
}
footer .site-footer .elementfooter2 ul .footer-links a .fab {
  font-size: 30px !important;
}
footer .site-footer .elementfooter2 ul .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

/*Termina el menu de navageacion */
.cardlogo {
  height: 30px;
  border-style: solid;
  color: white;
  background-color: white;
}

.copyright-text {
  bottom: 30px;
}

.iconbox img {
  height: 80px;
  padding: 1rem;
}

.site-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}

.container-fluid {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}

/* REGISTRO.HTML*/
.form-register {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #6f6f70;
  padding: 12px;
  background: #445170;
  border-radius: 6px;
}

.controls {
  height: 2.5rem;
  width: 100%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  border-radius: 15px;
  padding-left: 12px;
  text-align: start;
  position: relative;
}

h4 {
  font-size: 22px;
  margin-bottom: 10px;
  color: white;
}

.main_container_register {
  background-image: url(../img/Delantal\ de\ jean\ con\ cuero.jpg);
  background-size: cover;
  height: 1100px;
}

.main-contacto {
  background-image: url(../img/Delantal\ de\ jean\ con\ cuero.jpg);
  background-size: cover;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-chaquetas {
  background-image: url(../img/Delantal\ de\ jean\ con\ cuero.jpg);
  background-size: cover;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row-contacto {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(197, 192, 192, 0.623);
  border-radius: 25px;
  width: 50%;
  gap: 20px;
}

.row-contacto iframe {
  width: 100%;
}

@media (max-width: 576px) {
  .main_box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .elementfooter {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    align-items: center;
  }
  .iconbox img {
    height: 60px;
  }
  .w-75 {
    width: 90% !important;
  }
  .row-contacto {
    width: 90%;
    padding: 20px;
  }
  .main_container_register {
    height: 900px;
  }
}
.main-preguntas {
  background: url(../img/Delantal\ de\ jean\ con\ cuero.jpg);
  opacity: 0.8;
  background-repeat: no-repeat;
}

.card {
  height: 42rem;
}

@media (min-width: 768px) {
  .p-md-5 {
    padding: 0 !important;
  }
  #fcf-form {
    width: 100%;
  }
}
.container-chaquetas {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  height: auto;
}

.container-chaquetas h1 {
  text-align: center;
  background: rgba(202, 202, 202, 0.404);
  color: rgb(253, 250, 250);
  border: solid 0.5px;
  border-radius: 30px;
  margin: auto;
  padding: 5px 15px;
}

/*# sourceMappingURL=style.css.map */
